<div class="checkout-success">
  <h4>Спасибо за Ваш заказ!<br>В ближайшее время мы свяжемся с вами.</h4><br><br>
  <% if @order.nil? == false %>
  <% if @order.payment_method.is_a?(PaymentMethod::SberBankInvoice) %>
    <%= link_to 'скачать квитанцию', orders_sberbank_invoice_path(@order), class: 'dotted' %>
  <% end %><br />
  <% end %>
  <%= link_to 'вернуться в магазин', root_path, class: 'dotted' %>
</div>
