/* r e s e t */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
	margin: 0;
}
audio[controls], canvas, video {display: inline-block;}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, font, img, small, strong, em, b, u, i, center, dl, dt, dd, ol, ul, li, form, table, tbody, tfoot, thead, tr, th, td {
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%;
}

html {overflow-y: scroll;}

html, body {
	height: 100%; 
	width: 100%; 
	line-height: 1; 
	background: url(../images/bg_body.jpg) center fixed #282828;
}

html, body, td, input, select, textarea {
	font: 13px/130% 'Ubuntu Condensed', Arial, Helvetica, sans-serif; 
	color: #fff;
}

	a {
		color: #fff;
		
		-webkit-transition: color 0.3s ease; 
		-moz-transition: color 0.3s ease; 
		-o-transition: color 0.3s ease; 
		transition: color 0.3s ease;
	}
	a:hover {color: #ccc;}
	a:active {}
	
h1, h2, h3, h4, h5 {
	font-weight: normal; 
	line-height: normal; 
	margin-bottom: 16px;
}

	h1, h2 {
		font-size: 31px; 
		line-height: 31px;
	}
	h1 {
		text-transform: uppercase;
		padding: 6px 0 20px;
	}
	h1 span {color: #c1c1c1;}
	h3 {
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 12px;
	}
	h3.right {text-align: right;}
	h3.left {text-align: left;}
	h3.large {font-size: 44px;}
	h3 a.small {
		font-size: 13px;
		text-transform: none;
	}
	h4 {
		font-size: 24px;
		color: #93bf9f;
		margin-bottom: 20px;
	}
	h5 {
		font-size: 16px;
		margin: 0;
	}
	
table {
	border-collapse: collapse; 
	border-spacing: 0;
}

textarea {resize: vertical;}

input[type=text], input[type=password], select, textarea {background-color: #fff;}

input[type=submit] {cursor: pointer;}

input:focus, textarea:focus, select:focus {outline: none;}

blockquote, q {quotes: none;}
	
small {font-size: 85%;}

ul {list-style: none;}

label {
	display: block;
	font-size: 12px;
	color: #ababab;
	text-transform: uppercase;
	margin-bottom: 2px;
}

::selection {
	background: #fe57a1; 
	color: #fff; 
	text-shadow: none;
}
::-moz-selection {
	background: #fe57a1; 
	color: #fff; 
	text-shadow: none;
}

::-webkit-input-placeholder {
	color: #ababab;
}
input:-moz-placeholder {
	color: #ababab;
}

/* e l e m e n t s */

.dotted {
	text-decoration: none;
	background: url(../images/dot_gray.gif) 0 100% repeat-x;
}
.white .dotted {background: url(../images/dot_black.gif) 0 100% repeat-x;}
a.dotted {background: url(../images/dot_white.gif) 0 100% repeat-x;}
/* //dotted */

.textfield {
	display: inline-block;
	width: 210px;
	height: 18px; 
	margin: 0;
	padding: 6px 8px; 
	font-size: 16px;
	line-height: 18px;
	color: #000;
	background-color: #fff;
	border: 1px solid #bfbfbf;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.textfield:focus {}
.textfield.error {
	border-color: #ff5a00;
	background-color: #ff5a00;}
textarea.textfield {height: 65px;}
.errorlist {
	float: right;
	font-size: 12px;
	color: #ff5900;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mew88 .errorlist {
	max-width: 88px;
}
/* //textfield */

.select {
	display: inline-block;
	height: 18px; 
	margin: 0;
	padding: 6px 0; 
	font-size: 16px;
	line-height: 18px;
	color: #000;
	background-color: #fff;
	border: 1px solid #bfbfbf;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
span.select:after {
	position: absolute; 
	display: block;
	width: 20px;
	height: 28px;
	top: 1px; 
	right: 0; 
	content: "\25BC"; 
	font-size: 8px;
	line-height: 30px;
	color: #000;
	padding-left: 30px;
	background: url(../images/select_after.png) repeat-y;
}
select.select {
	height: 32px;
	z-index: 10;
}
.select .select-text {
	display: block;
	padding: 0 38px 0 8px; 
}
.select.f-hiden {color: #fff;}
/*//select*/

.button {
	display: inline-block;
	padding: 6px 10px 6px;
	margin: 0;
	border: 1px solid #fff;
	font-size: 16px;
	line-height: 18px;
	*line-height: 20px;
	color: #fff;
	text-align: center; 
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button:active, .button.active {}
.button:hover, .button:focus {}
.button.disabled, .button[disabled] {
	cursor: default;
	opacity: 0.4; 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	background: none;
}
button.button, input[type="submit"].button {
	*padding-top: 3px;
	*padding-bottom: 4px;
	background: none;
}
.white .button {
	border-color: #333;
	color: #000;
}
.button.plus, input[type="submit"].button.plus {
	background: url(../images/ico_plus.png) 9px 11px no-repeat;
	padding-left: 22px;
}
.button:active, .button.active, input[type="submit"].button:active {
	color: #333;
	background-color: #fff;
}
.white .button:active, .white .button.active, .white input[type="submit"].button:active {
	color: #fff;
	background-color: #2a292a;
}
.button.plus:active, input[type="submit"].button.plus:active {
	background-position: 9px -40px;
}
/* //button */

/* g e n e r a l */

header {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 34px;
	text-align: center;
	z-index: 100;
	min-width: 996px;
	z-index: 1;
	padding-top: 16px;
}
header.fixed {
	position: fixed;
	margin-top: -90px;
	background: none;
	z-index: 2;
}

header .logo {
	display: block;
	width: 128px;
	height: 69px;
	margin: 0 auto 30px;
}
header ul {margin-left: 32px; height: 60px;}
header li {
	display: inline-block;
	height: 27px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 15px;
}
header li a {
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
}
header li.cur,
header li.cur.none:first-child {
	background-color: #b52469;
	padding: 0 6px;
	margin: 0 9px;
}
header li.cur a {cursor: default;}
header li.cur.none {background: none;}
/* //header */

.page {
	width: 100%;
	min-width: 996px;
	min-height: 100%;
	position: relative;
}
	.white {
		background-color: #fff;
		color: #000;
		height: auto;
		min-height: 100%;
		overflow: hidden;
	}
	.page:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background-color: #fff;
	}
	.page.white:after {
		background-color: transparent;
	}
	.white a {color: #000;}
	.white .wrapper {padding: 35px 0 0;}

	.wrapper {
		width: 996px;
		margin: auto;
		padding: 200px 0 70px;
		position: relative;
	}
	
		.left-colum, .right-colum {
			width: 416px;
			display: inline-block;
			vertical-align: top;
		}
		.left-colum {margin-right: 160px;}
		.left-colum.h540, .right-colum.h540 {
			height: 540px;
			overflow: hidden;
		}
		
.checkout-step {
	position: absolute;
	width: 100%;
}

.accaunt-step {
	position: absolute;
	width: 416px;
	margin-right: 20px;
	margin-bottom: 40px;
}

/* //case */

.jcarousel-clip-vertical {
	overflow: hidden;
	height: 540px;
	position: relative;
}
	.jcarousel {
		position: relative;
		height: 540px;
	}

	.jcarousel-item {
		height: 540px;
	}
.jcarousel-prev-vertical, 
.jcarousel-next-vertical {display: none;}
/* //jcarousel */

/* c o n t e n t */

.basket {
	position: fixed;
	background: url(../images/bg_basket.png) no-repeat;
	width: 148px;
	height: 52px;
	top: 0;
	left: 50%;
	margin-left: -74px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	line-height: 46px;
	z-index: 100;
}
.basket a {
	color: #fff;
	text-decoration: none;
	display: block;
	margin: 0 10px;
}
.basket span {
	display: inline-block;
	position: relative;
	height: 20px;
	min-width: 10px;
	padding: 0 5px;
	top: -2px;
	margin-left: 8px;
	background-color: #b52469;
	font-size: 10px;
	line-height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* //basket */


.catalog-menu {
	height: 74px;
	margin-bottom: 30px;
	text-transform: uppercase;
	position: relative;
}
.catalog-menu.disabled {
	opacity: 0.4; 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.catalog-menu.dimmed {
	opacity: 0.4; 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.catalog-menu.disabled:after {
	content: "";
	display: block;
	width: 100%;
	height: 74px;
	position: absolute;
	top: 0;
	left: 0;
}
.catalog-menu .icon-sex {
	height: 80px;
	width: 55px;
	background: url(../images/dot_shevron.gif) bottom no-repeat;
	float: left;
}
.right-colum .icon-sex {float: right;}
.catalog-menu li {display: inline-block;}
.catalog-menu a {text-decoration: none;}

	.catalog-menu-first {
		font-size: 17px;
		padding: 32px 0 4px;
		*padding: 0;
		*margin-top: 30px;
	}
	.catalog-menu-first li {margin: 0 18px 0 0;}
	.catalog-menu-second {font-size: 10px;}
	.catalog-menu-second li {margin: 0 3px 0 0;}
	
	.left-colum .catalog-menu-first, 
	.left-colum .catalog-menu-second {text-align: right;}
	.left-colum .catalog-menu-first li {margin: 0 0 0 18px;}
	.left-colum .catalog-menu-second li {margin: 0 0 0 3px;}
/* //catalog-menu */


.shop-item-images {
	margin-bottom: 16px;
	position: relative;
	width: 416px;
	height: 305px;
	overflow: hidden;
}
.shop-item-images img {
	display: block;
	width: 416px;
	min-height: 305px;
}
.shop-item-images figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px 14px 6px;
	background-color: #000;
	font-size: 9px;
	line-height: 140%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
	-webkit-transition: all 0.3s ease; 
	-moz-transition: all 0.3s ease; 
	-o-transition: all 0.3s ease; 
	transition: all 0.3s ease;
}
.shop-item-images figcaption:after {
	content: "";
	display: block;
	position: absolute;
	width: 24px;
	height: 23px;
	background: url(../images/bg_figcaption.png) no-repeat;
	right: 15px;
	bottom: -23px;
}
.shop-item-images:hover figcaption {opacity: 1;}
.shop-item-images .bjqs-next {background: url(../images/dummy.gif) no-repeat;}

.shop-item-options {
	margin-bottom: 16px;
	padding-bottom: 18px;
	min-height: 32px;
}
.shop-item-options .right {float: right;}
.shop-item-options .ik_select {width: 46px;}
.shop-item-options .ik_select_link {padding-right: 20px;}
.shop-item-options .ik_select_link_text:after {width: 14px;}
.shop-item-options .label {
	display: block;
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 32px;
	margin-right: 10px;
}

	.shop-item-colors li {
		float: left;
		width: 16px; height: 16px;
		margin-right: 9px;
		padding: 1px;
		cursor: pointer;
		border: 1px solid white;
		margin-top: 5px;
	}
	.shop-item-colors li.cur {
		border-color: black;
	}
	.shop-item-colors li,
	.shop-item-colors li .helper {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
		.shop-item-colors li .helper {
			display: block;
			width: 0; height: 16px;
			border: solid;
			border-width: 0 8px;
		}

.shop-item-text {
	padding-bottom: 18px;
	margin-bottom: 14px;
}
.shop-item-text p {
	height: 80px;
	overflow: hidden;
}
.shop-item-text img {
	height: 70px;
	min-height: 70px;
	margin-bottom: 16px;
}
.shop-item-text .product-description {margin-bottom: 1em}
	
.shop-item-buy {
	overflow: hidden;
	padding: 16px 0;
	margin-top: -16px;
}
.shop-item-buy .button {
	float: left;
	margin-top: 6px;

	/* тупой фикс того что <header> наезжает на кнопку */
	z-index: 10;
	position: relative;;
}
	.shop-item-num {
		text-align: center;
		text-transform: uppercase;
	}
	.shop-item-num span {color: #db1b21;}
	.shop-item-price {
		float: right;
		font-size: 44px;
		line-height: 44px;
	}
	.shop-item-price em {
		font-style: normal;
		font-size: 18px;
		text-transform: uppercase;
	}
	
.shop-item-back {
	display: block;
	float: left;
	background: url(../images/ico_back.png) 0 50% no-repeat;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 12px;
	margin-top: 16px;
}
.shop-item-forward {
	display: block;
	float: right;
	background: url(../images/ico_forward.png) 100% 50% no-repeat;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 12px;
	margin-top: 16px;
}
/* //shop-item */

.shop-items-list {
	margin: 20px -20px 16px -1px;
	padding-bottom: 50px;
}
.shop-items-list.m-height {min-height: 400px;}
.shop-items-list li {
	width: 128px;
	overflow: hidden;
	display: inline-block;
	margin: 0 14px 12px 0;
	vertical-align: top;
	text-align: center;
}
.shop-items-list img {
	display: block;
	min-width: 128px;
	height: 94px;
}
.shop-items-list div {padding: 18px 0;}
.shop-items-list .price {
	background: url(../images/dot_black.gif) repeat-x;
	padding: 1px 5px;
	text-transform: uppercase;
	font-size: 16px;
}
.shop-items-list .price em {
	font-style: normal;
	font-size: 12px;
}
/* //shop-items-list */


.pagination {
	position: absolute;
	bottom: 10px;
	right: 0;
	font-size: 14px;
	z-index: 10;
}
.pagination li {
	float: left;
	padding: 0 6px;
}
.pagination li a {
	text-decoration: none;
	color: #bebebe;
}
.pagination li.cur a,
.pagination li.prev a, 
.pagination li.next a {color: #000;}
.pagination li.prev {padding-right: 12px;}
.pagination li.next {padding-left: 12px;}
/* //pagination */
	
.search-field {
	position: absolute;
	bottom: -16px;
	z-index: 10;
	width: 270px;
}
.search-field .label {
	display: block;
	font-size: 20px;
	line-height: 30px;
	float: left;
}
.search-field .textfield {
	width: 174px;
	float: right;
}
.search-field label {
	font-size: 10px;
	color: #888;
	text-align: right;
	padding-top: 3px;
	clear: both;
}
.seacrh-none {
	height: 420px;
	font-size: 60px;
	line-height: 400px;
	text-align: center;
}
/* //search-field */
	

.cart-list {margin-bottom: 16px;}

	.cart-list-item {
		background: url(../images/dot_gray.gif) repeat-x;
		padding: 17px 0;
	}
	.cart-list-item .image {
		float: left;
		width: 33px;
		height: 33px;
	}
	.cart-list-item .image img {
		display: block;
		min-width: 33px;
		min-height: 33px;
	}
	.cart-list-item .options {
		float: right;
		font-size: 16px;
		line-height: 32px;
	}
	.cart-list-item .options .textfield {
		width: 18px;
		text-align: center;
		float: left;
	}
	.cart-list-item .info {
		margin: 0 90px 0 55px;
	}
	.cart-list-item .info .name {font-size: 15px;}
	.cart-list-item .info .size,
	.cart-list-item .info .color {
		font-size: 12px;
		margin-right: 10px;
	}
	.cart-list-item .info .price {font-size: 12px;}
	
	.ico-remove {
		display: block;
		background: url(../images/ico_remove.png) no-repeat;
		width: 15px;
		height: 16px;
		overflow: hidden;
		text-indent: -999px;
		float: left;
		margin: 7px 0 0 25px;
	}
	
.cart-list-empty {
	height: 240px;
	font-size: 16px;
	line-height: 220px;
	text-align: center;
	margin-bottom: 16px;
}
/* //cart-list */

.cart-end-price {
	font-size: 16px;
	padding-bottom: 18px;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.cart-end-price span {float: right;}
.cart-end-price span em {
	font-size: 12px;
	font-style: normal;
}
/* //cart-end-price */

.cart-button-box {
	text-align: center;
	padding: 16px 0 28px;
	margin-bottom: 16px;
}
/* //cart-button-box */

.cart-deliver-box {
	text-align: center;
	font-size: 12px;
	
}
/* //cart-button-box */

.form-box {
	/*background-color: rgba(0, 0, 0, 0.15);*/
	margin-bottom: 45px;
	padding: 30px 35px 14px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

	.registration-complete {padding-left: 35px;}
/* //form-box */

.form-item {
	display: inline-block;
	margin: 0 -4px 20px 0;
	*margin-right: 0;
	vertical-align: top;
	position: relative;
}

	.w416 {width: 416px;}
	.w416 .select {width: 416px;}
	.w416 .textfield {width: 400px;}
	
	.w346 {width: 346px;}
	.w346 .textfield {width: 330px;}
	
	.w322 {width: 322px;}
	.w322 .textfield {width: 306px;}
	
	.w272 {width: 272px;}
	.w272 .select {width: 260px;}
	.w272 .textfield {width: 244px;}
	
	.w252 {width: 252px;}
	.w252 .textfield {width: 236px;}
	
	.w240 {width: 240px;}
	.w240 .textfield {width: 224px;}
	
	.w232 {width: 232px;}
	.w232 .select {width: 232px;}
	
	.w210 {width: 208px;}
	.w210 .textfield {width: 182px;}
	.w210 .select {width: 198px;}
	
	.w202 {width: 202px;}
	.w202 .textfield {width: 186px;}
	.w202 .select {width: 202px;}
	
	.w196 {width: 196px;}
	.w196 .textfield {width: 180px;}
	
	.w184 {width: 184px;}
	.w184 .select {width: 172px;}
	
	.w175 {width: 175px;}
	.w175 .textfield {width: 149px;}
	
	.w150 {width: 150px;}
	.w150 .textfield {width: 124px;}
	
	.w145 {width: 144px;}
	.w145 .textfield {width: 129px;}
	
	.w144 {width: 144px;}
	.w144 .textfield {width: 118px;}
	.w144 .select {width: 134px;}
	
	.w138 {width: 138px;}
	.w138 .textfield {width: 122px;}
	
	.w110 {width: 110px;}
	
	.w94 {width: 94px;}
	.w94 .button {width: 94px;}
	.w94 .textfield {width: 68px;}
	
	.checkbox-box input {
		float: left;
		margin: 0px 10px 0 0px;
	}
	.checkbox-box label {
		text-transform: none;
		white-space: nowrap;
	}
	
	.w144 .errorlist, 
	.w150 .errorlist, 
	.w175 .errorlist, 
	.w184 .errorlist, 
	.w210 .errorlist, 
	.w272 .errorlist {margin-right: 10px;}
/* //form-items */

.checkout-steps {
	position: absolute;
	width: 100px;
	height: 20px;
	top: 180px;
	left: 50%;
	margin-left: -50px;
	text-align: center;
	z-index: 90;
}
.checkout-steps li {
	display: inline-block;
	height: 18px;
	width: 18px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.checkout-steps li a {text-decoration: none;}
.checkout-steps li.cur {background-color: #fff;}
.checkout-steps li.cur a {color: #000;}

.checkout-form {
	background: url(../images/dot_gray.gif) repeat-x;
	padding: 28px 0;
}

.checkout-box {min-height: 300px;}

/*.checkout-payment {min-height: 370px;}*/

	.checkout-payment-item {
		padding: 0 0 24px 20px;
		position: relative; 
		*zoom: 1;
	}
	.checkout-payment-item input[type=radio] {
		position: absolute;
		top: 2px;
		left: -4px;
	}
	.checkout-payment-item h5 {}
	.checkout-payment-item p {
		font-size: 12px;
		color: #888;
	}
	.checkout-payment-item .ik_select {
		position: absolute;
		top: 5px;
		left: 164px;
		width: 250px;
	}
	
.checkout-confirm {padding: 20px 0 40px;}
.checkout-confirm h4 {
	color: #fff;
	margin-bottom: 70px;
}
	
.checkout-additionally {padding: 12px 0 28px;}
.checkout-additionally p em {
	font-style: normal;
	float: right;
}

.checkout-total {
	font-size: 24px;
	margin: -10px 0 44px;
}
.checkout-total span {
	float: right;
	color: #b52369;
}

.checkout-buttons {
	background: url(../images/dot_gray.gif) repeat-x;
	padding-top: 16px;
}

.checkout-success {
	position: absolute;
	width: 600px;
	height: 200px;
	top: 300px;
	left: 50%;
	margin: 0 0 0 -300px;
	text-align: center;
}
/* //checkout */

.user-name {
	background: url(../images/dot_gray.gif) repeat-x;
	padding: 30px 0 48px;
}
.user-name div {float: right;}

.user-address {
	background: url(../images/dot_gray.gif) repeat-x;
	padding-top: 30px;
}
.user-address p {margin-bottom: 16px;}
.user-address p a {float: right;}
.user-address h5 {margin-bottom: 36px;}
.user-address .checkbox-box {margin: -20px 0 20px;}
.user-address .form-item .checkbox-box {margin-top: 0;}
.user-address .options {float: right;}
.user-address .options a {
	float: left;
	margin-top: 0;
}
/* //user-info */

.order-history {
	padding-bottom: 30px;
}
.order-history h3 {
	font-size: 21px;
	text-transform: none;
	margin-bottom: 20px;
}

	.order-history-list {}
	
		.order-history-item {}
		.order-history-item h4 {
			font-size: 18px;
			line-height: 18px;
			color: #fff;
		}
		.order-history-item h4 span {
			font-size: 14px;
			line-height: 14px;
			margin-left: 28px;
		}
		.order-history-item .date {
			float: right; 
			font-size: 12px;
		}
		.order-history-item ul {padding-bottom: 12px;}
		.order-history-item li {margin-bottom: 16px;}
		.order-history-item .num {float: right;}
		.order-history-item .name {font-size: 15px;}
		.order-history-item span {font-size: 12px;}
		.order-history-item .size,
		.order-history-item .color {margin-right: 10px;}
		
			.order-history-name {
				cursor: pointer;
			}
			.order-history-name:before {
				content: "►";
				font-size: 13px;
				position: relative;
				top: -2px;
				margin-right: 4px;
			}
			.order-history-name.open:before {
				content: "▼";
			}
			
			.order-history-info {
				margin-bottom: 12px;
				display: none;
			}
			.order-history-info h5 {
				font-size: 15px;
				margin-bottom: 16px;
			}
			.order-history-info .info {
				background-position: top;
				padding: 16px 0 28px;
			}
			.order-history-info .info input[type=checkbox] {
				float: left;
				margin: 1px 5px 0 0;
			}
			.order-history-info .info label {
				margin-right: 20px;
				float: left;
			}
			.order-history-info form p {
				clear: both;
				padding-top: 14px;
			}
	
/* //history -history */


.about-contacts {
	text-align: center;
	min-height: 67px;
	padding-bottom: 34px;
	margin-bottom: 76px;
}
.about-contacts .phone {
	float: right;
	font-size: 45px;
	line-height: 70px;
}
.about-contacts .map {
	font-size: 18px;
	float: left;
	padding: 20px 0 0 90px;
	background: url(../images/bg_about_map.png) no-repeat;
	height: 47px;
	text-align: left;
}
.about-contacts .button {margin: 20px 6px 0;}

.about-candies {
	font-size: 20px;
	line-height: 120%;
	text-align: justify;
	padding: 0 0 50px 160px;
	background: url(../images/bg_about_candies.png) 0 10px no-repeat;
	min-height: 100px;
}

.about-deliver {
	padding-bottom: 44px;
	margin-bottom: 50px;
}
.about-deliver p {text-align: justify;}
.about-deliver h5 {
	font-size: 21px;
	margin-bottom: 10px;
}
.about-deliver .left-colum {
	font-size: 16px;
	line-height: 110%;
}
.about-deliver .right-colum {
	font-size: 13px;
	line-height: 120%;
}
.about-deliver .dotted {
	position: relative;
	margin-bottom: 60px;
	height: 1px;
}
.about-deliver .dotted img {
	display: block;
	position: absolute;
	height: 33px;
	top: -17px;
}
.about-deliver .dotted .left {left: 193px;}
.about-deliver .dotted .right {right: 187px;}

.about-table-header {
	height: 67px;
	font-size: 12px;
	line-height: 56px;
}
.about-table-header img {
	display: block;
	float: left;
	margin-right: 18px;
}

.about-table {
	width: 100%;
	margin-bottom: 65px;
}
.about-table tr th,
.about-table tr td {
	text-align: center;
	vertical-align: top;
	font-weight: normal;
	line-height: 50px;
	height: 50px;
}
.about-table tr th {
	font-size: 18px;
	border: 0;
	width: 59px;
}
.about-table tr th:first-child {
	font-size: 14px;
	text-align: left;
	width: auto;
}
.about-table tr td {
	font-size: 21px;
	border: 1px dotted #5f5f5f;
}
.about-table tr td:first-child {
	text-align: left;
	border-left: 0;
}
/* //about */

/* используется при переходах на «Информация» и «Личный кабинет» */
.loading-animation {
	position: absolute;
	width: 24px; height: 24px;
	top: 40%; left: 50%;
	margin-left: -12px;
	background: white url('../images/ajax_loader.gif') 4px 4px no-repeat;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.copyright-link {
	display: block;
	margin: 0 auto;
	width: 95px; height: 40px;
	background: url('../images/whitescape-copyright-logo.png') no-repeat;
}

/* блокировка корзины после удаления */
.shop-cart-wrapper .disabler {display: none}
.shop-cart-wrapper .loading {position: relative}
.shop-cart-wrapper .loading .disabler {
	display: block;
	position: absolute;
	top: -10px; left: -10px;
	width: 100%; height: 100%;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


/* страницы ЛК и эбаут */
.pages .page {
	position: absolute;
}

.failure {
	color: #B52469;	
}

