<% @page = Page.find_by_title('about')  %>

<div class="wrapper">

<%= @page.body.html_safe if @page %>    
    
</div>
<%= content_for :head  do %>
    <script>
      $(document).ready(function(e){
         page_height = $('.page.white').height();
         $('html, body').animate({scrollTop: page_height + 72}, 1200);
         e.preventDefault;
      });
    </script>
<% end %>