<div class="wrapper">
  
    <div class="about-contacts dotted">
      <div class="phone">+7 (812) 324-77-77</div>
      <div class="map">Санкт-Петербург<br>м. пл. Восстания, Лиговский пр., 30а</div>
      <a href="#" class="button"><img src="images/ico_fb.png" width="80" height="18" alt="facebook"></a>
      <a href="#" class="button"><img src="images/ico_vk.png" width="98" height="18" alt="vkontakte"></a>
    </div>
    
    <div class="about-candies">
      <p>Candies – молодой проект для любителей качественной обуви как хорошо известных, уже заработавших себе имя европейских брендов, так и малоизвестных марок, по нашему мнению заслуживающих внимания покупателей, которые мы будем стараться продвигать, не ограничиваясь пределами одного города, предлагая вам максимально подходящие и удобные способы доставки по всему миру.</p>
    </div>
    
    <div class="about-deliver dotted">
      <div class="dotted">
        <img src="images/ico_home.png" width="32" height="33" class="left">
        <img src="images/ico_box.png" width="40" height="33" class="right">
      </div>
      <div class="left-colum">
        <p>Жителям и гостям Санкт-Петербурга будет доступен отдельный оффлайн магазин с большой подборкой самых популярных моделей, а также возможностью примерить все понравившиеся онлайн модели. Кроме этого, мы всегда будем рады видеть Вас у себя в гостях на чашку кофе и сладкий десерт!</p>
      </div>
      <div class="right-colum">
        <h5>Срок доставки: 3–7 дней с момента заказа.</h5>
        <p>После того, как заказ будет отправлен в личном профиле, предоставляется номер отправления (трекинг-код) для отслеживания заказа на сайте курьерской службы. Вы можете ознакомиться с тарифами доставки на сайте «EMS»: по <a href="#">Санкт-Петербургу</a>, по <a href="#">Ленинградской области</a>, по <a href="#">России</a>, по <a href="#">миру</a>.</p>
      </div>
    </div>
    
    <div class="about-table-header">
      <img src="images/ico_female.png" width="56" height="67" alt="female">
      <p>В таблицах, в верхней строчке - длина стопы в сантиметрах. Приведены ориентировочные значения (у разных производителей размер может отличаться от табличных на 1-2 размера).</p>
    </div>
    
    <table class="about-table">
      <tr>
        <th>Длина стопы</th>
        <th>22</th>
        <th>22.5</th>
        <th>23</th>
        <th>23.5</th>
        <th>24</th>
        <th>24.5</th>
        <th>25</th>
        <th>25.5</th>
        <th>26</th>
        <th>26.5</th>
        <th>27</th>
        <th>27.5</th>
        <th>28</th>
        <th>29.5</th>
      </tr>
      <tr>
        <td>Европа</td>
        <td>34</td>
        <td>34.5</td>
        <td>35</td>
        <td>35,5</td>
        <td>36</td>
        <td>36,5</td>
        <td>37</td>
        <td>37,5</td>
        <td>38</td>
        <td>39</td>
        <td>40</td>
        <td>41</td>
        <td>42</td>
        <td>43</td>
      </tr>
      <tr>
        <td>Англия</td>
        <td>2.5</td>
        <td>3</td>
        <td>3.5</td>
        <td>4</td>
        <td>4.5</td>
        <td>5</td>
        <td>5.5</td>
        <td>6</td>
        <td>6.5</td>
        <td>7</td>
        <td>7.5</td>
        <td>8</td>
        <td>9.5</td>
        <td>10.5</td>
      </tr>
      <tr>
        <td>США</td>
        <td>5</td>
        <td>5.5</td>
        <td>6</td>
        <td>6.5</td>
        <td>7</td>
        <td>7.5</td>
        <td>8</td>
        <td>8.5</td>
        <td>9</td>
        <td>9.5</td>
        <td>10</td>
        <td>10.5</td>
        <td>12</td>
        <td>13</td>
      </tr>
    </table>
    
    <div class="about-table-header">
      <img src="images/ico_male.png" width="55" height="67" alt="male">
      <p>В таблицах, в верхней строчке - длина стопы в сантиметрах. Приведены ориентировочные значения (у разных производителей размер может отличаться от табличных на 1-2 размера).</p>
    </div>
    
    <table class="about-table">
      <tr>
        <th>Длина стопы</th>
        <th>22</th>
        <th>22.5</th>
        <th>23</th>
        <th>23.5</th>
        <th>24</th>
        <th>24.5</th>
        <th>25</th>
        <th>25.5</th>
        <th>26</th>
        <th>26.5</th>
        <th>27</th>
        <th>27.5</th>
        <th>28</th>
        <th>29.5</th>
      </tr>
      <tr>
        <td>Европа</td>
        <td>36</td>
        <td>37</td>
        <td>37.5</td>
        <td>38</td>
        <td>38.5</td>
        <td>39</td>
        <td>40</td>
        <td>41</td>
        <td>42</td>
        <td>43</td>
        <td>44</td>
        <td>45</td>
        <td>46</td>
        <td>47</td>
      </tr>
      <tr>
        <td>Англия</td>
        <td>4</td>
        <td>4,5</td>
        <td>5</td>
        <td>5,5</td>
        <td>6</td>
        <td>6,5</td>
        <td>7</td>
        <td>7,5</td>
        <td>8</td>
        <td>8,5</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
      </tr>
      <tr>
        <td>США</td>
        <td>5</td>
        <td>5,5</td>
        <td>6</td>
        <td>6,5</td>
        <td>7</td>
        <td>7,5</td>
        <td>8</td>
        <td>8,5</td>
        <td>9</td>
        <td>9,5</td>
        <td>10,5</td>
        <td>11.5</td>
        <td>12,5</td>
        <td>14</td>
      </tr>
    </table>
    
  </div>
<%= content_for :head  do %>
    <script>
      $(document).ready(function(e){
         page_height = $('.page.white').height();
         $('html, body').animate({scrollTop: page_height + 72}, 1200);
         e.preventDefault;
      });
    </script>
<% end %>