     
      <div class="form-box">
        <div class="registration-complete">
          <h4>Регистрация прошла успешно.<br>Спасибо!</h4>
          <h3 class="left"><a href="/" id="show_accaunt" class="dotted">Открыть личный кабинет</a></h3>
        </div>
      </div>