<header>
  <a href="/" class="logo"><img src="/images/bg_logo.png" width="128" height="69" alt="Candies"></a>
  <ul>
    <li><a href="#" class="dotted go-top">Магазин</a></li>
    <li class="cur"><a href="/" class="dotted">Личный кабинет</a></li>
    <!-- <li><a href="/about" class="dotted">Информация</a></li> -->
    <li><%= link_to 'Информация', show_about_page_path, remote: true, class: 'dotted' %></li>
  </ul>
</header>