<header>
  <a href="/" class="logo"><img src="images/bg_logo.png" width="128" height="69" alt="Candies"></a>
  <ul>
    <li><a href="#" class="dotted go-top">Магазин</a></li>
    <li class="cur go-top"><a href="#" class="dotted">Личный кабинет</a></li>
    <li><a href="#" class="dotted go-top">Информация</a></li>
  </ul>
</header>