<div class="search-field">
	<span class="label">ИСКАТЬ:</span>
	<form action="/products/search" method="get">
	    <input type="text" class="textfield" name="keywords">
	    <label>НАЖМИТЕ ENTER ДЛЯ ПОИСКА</label>
    </form>
</div>